.DS_Store
/webChat-login-api/app/.DS_Store
/webChat-login-api/app/node_modules
/webChat-server/app/.DS_Store
/webChat-server/app/node_modules
/webChat-production-server/app/.DS_Store
/webChat-production-server/app/node_modules
/webChat-management-api/app/.DS_Store
/webChat-management-api/app/node_modules