/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7c5cbf;
    border: none;
    color: white;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1d1f26;
    background: #f7f7fa;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: none;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll;
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    background-color: #F3F3F3;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */
.user-message {
    padding: 24px 24px;
    background-color: #fff;
    margin-bottom: 16px;
    border-radius: 20px;
    overflow-wrap: break-word;
    margin-left: 0;
}

@media only screen and (min-width: 500px) {
    .user-message {
        inline-size: 90%;
    }
    
    
}

@media only screen and (min-width: 700px) {
    .user-message {
        inline-size: 400px;
    }
}

/* @media only screen and (min-width: 700px) {
    .message {
        inline-size: 80%;
    }
} */

.user-message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.admin-message {
    color: #777;
    font-size: 14px;
    inline-size: 100%;
    margin: auto auto 24px auto;
    display: flex;
    justify-content: center;
}

.user-message__meta {
    color: #777;
    font-size: 14px;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    color: #333333;
}

.bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
    animation: loader 1.2s linear infinite;
}
.bar1 {
    animation-delay: 0.1s;
}
.bar2 {
    animation-delay: 0.2s;
}
.bar3 {
    animation-delay: 0.3s;
}
.bar4 {
    animation-delay: 0.4s;
}
.bar5 {
    animation-delay: 0.5s;
}
.bar6 {
    animation-delay: 0.6s;
}
.bar7 {
    animation-delay: 0.7s;
}
.bar8 {
    animation-delay: 0.8s;
}

@keyframes loader {
    0% {
        transform: scaleY(0.1);
    }
    50% {
        transform: scaleY(1);
        background:#7c5cbf;
    }
    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}
